<header class="g-header" role="columnheader">
    <h1 class="u-header-title"><a href="/">Mss</a></h1>
    <nav class="m-nav" role="navigation">
        <ul>
            <li>
                <a href="/life">Life</a>
            </li>
            <li>
                <a href="/work">Work</a>
            </li>
            <li>
                <a href="/demo">Demo</a>
            </li>
            <li>
                <a href="/resume">Resume</a>
            </li>
        </ul>
    </nav>
</header>
<script>
    var aNav = {};
    Array.prototype.slice.call(document.querySelectorAll('.m-nav a')).forEach(function(ele){
        aNav[ele.href] = ele;
    })
    var href = window.location.href;
    for(key in aNav) {
        if(new RegExp(key).test(href)){
            aNav[key].className = 'active';
        }
    }
</script>
