/*=reset Start*/
html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%;margin:0;padding:0;}
article,aside,audio,bdi,canvas,command,datalist,details,figcaption,figure,footer,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video {display:block}
body{font: 16px/1.7 "Microsoft YaHei","SimSun";color:#fff;background:url(https://f.cloud.github.com/assets/3764024/762917/a8ee3b46-e7f2-11e2-9936-9dc1cc522cc6.jpg) left top repeat;}
body,html{height: 100%;}
a{color:#fff;outline:none;text-decoration:none;-webkit-transition:color .3s ease-out;-moz-transition:color .3s ease-out;transition:color .3s ease-out;}
a:hover{text-decoration: underline;color: #26a}
img{border:0 none;vertical-align: top;}
ul{list-style:none outside none;}
h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
i, em {font-style: normal; }
table {border-collapse: collapse;}
::selection{background: #FF5F3E;color: #FFF;}
::-moz-selection{background:#ff5f3e;color:#fff}
.hide{display: none;}
.hideFont{text-indent: -100%;overflow: hidden;display: block;}
.fl{float: left;_display:inline;}
.fix{*zoom:1;}
.fix:after{content: "";width: 0;height: 0;font-size: 0;visibility: hidden;overflow: hidden;clear: both;display: block;}
.focus{color: #c90000;font-weight: bold;}
.pb100{padding-bottom: 100px;}
/*=reset End*/

/*loading*/
#loading{position: absolute;z-index:101;left:0;top:0;width: 100%;height: 100%;overflow: hidden;background:#fff url(https://f.cloud.github.com/assets/3764024/766751/5d7ca466-e86c-11e2-9271-cd0171866757.gif) center center no-repeat;}
/*cover*/
#coverWrap{position: absolute;z-index:100;left:0;top:0;width: 100%;height: 100%;overflow: hidden;display:none;}
#cover{position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #fb6370;-webkit-animation:coverTitle 4s ease-in;-moz-animation:coverTitle 4s ease-in;-o-animation:coverTitle 4s ease-in;-ms-animation:coverTitle 4s ease-in;animation:coverTitle 4s ease-in;}
#coverTitle{position: absolute;left: 0;top: 50%;width: 100%;height:1.7em;font-size: 12em;margin-top: -.85em;text-align: center;font-family: "Comic Sans MS",tahoma;text-shadow:2px 2px 5px  #000;}
@-webkit-keyframes coverTitle{
	50%{-webkit-transform:scale(1);opacity: 1}
	100%{-webkit-transform:scale(2);opacity: 0}
}
@-moz-keyframes coverTitle{
	50%{-moz-transform:scale(1);-moz-transform-origin:0 0;opacity: 1}
	100%{-moz-transform:scale(2);-moz-transform-origin:0 0;opacity: 0}
}
@-o-keyframes coverTitle{
	50%{-o-transform:scale(1);opacity: 1}
	100%{-o-transform:scale(2);opacity: 0}
}
@-ms-keyframes coverTitle{
	50%{-ms-transform:scale(1);opacity: 1}
	100%{-ms-transform:scale(2);opacity: 0}
}
@keyframes coverTitle{
	50%{transform:scale(1);opacity: 1}
	100%{transform:scale(2);opacity: 0}
}
#coverTitle strong{position:relative;margin: 0 .2em;display: inline-block;}
#wordF{-webkit-animation:wordF 1.5s ease-out;-moz-animation:wordF 1.5s ease-out;-o-animation:wordF 1.5s ease-out;-ms-animation:wordF 1.5s ease-out;animation:wordF 1.5s ease-out;left:0;top:0;}
#word2{-webkit-animation:word2 1.5s ease-out;-moz-animation:word2 1.5s ease-out;-o-animation:word2 1.5s ease-out;-ms-animation:word2 1.5s ease-out;animation:word2 1.5s ease-out;left:0;top:0;}
#wordE{-webkit-animation:wordE 2s ease-out;-moz-animation:wordE 2s ease-out;-o-animation:wordE 2s ease-out;-ms-animation:wordE 2s ease-out;animation:wordE 2s ease-out;}
@-webkit-keyframes wordF{
	0%{left: 1.2em;}
	50%{left: 1.2em;-webkit-transform:rotate(0);}
	60%{-webkit-transform:rotate(-35deg);}
	90%{-webkit-transform:rotate(25deg);}
}
@-moz-keyframes wordF{
	0%{left: 1.2em;}
	50%{left: 1.2em;-moz-transform:rotate(0);}
	60%{-moz-transform:rotate(-35deg);}
	90%{-moz-transform:rotate(25deg);}
}
@-o-keyframes wordF{
	0%{left: 1.2em;}
	50%{left: 1.2em;-o-transform:rotate(0);}
	60%{-o-transform:rotate(-35deg);}
	90%{-o-transform:rotate(25deg);}
}
@-ms-keyframes wordF{
	0%{left: 1.2em;}
	50%{left: 1.2em;-ms-transform:rotate(0);}
	60%{-ms-transform:rotate(-35deg);}
	90%{-ms-transform:rotate(25deg);}
}
@keyframes wordF{
	0%{left: 1.2em;}
	50%{left: 1.2em;transform:rotate(0);}
	60%{transform:rotate(-35deg);}
	90%{transform:rotate(25deg);}
}
@-webkit-keyframes word2{
	0%{left:500px;}
	10%{top:-100px;}
	20%{top:0;}
	30%{top:-20px;}
	40%{top:0;}
	50%{top:-10px;-webkit-transform:rotate(-45deg);}
	80%{-webkit-transform:rotate(15deg);}
	90%{left: 0;top: 0;}
	95%{top: -30px;}
}
@-moz-keyframes word2{
	0%{left:500px;}
	10%{top:-100px;}
	20%{top:0;}
	30%{top:-20px;}
	40%{top:0;}
	50%{top:-10px;-moz-transform:rotate(-45deg);}
	80%{-moz-transform:rotate(15deg);}
	90%{left: 0;top: 0;}
	95%{top: -30px;}
}
@-o-keyframes word2{
	0%{left:500px;}
	10%{top:-100px;}
	20%{top:0;}
	30%{top:-20px;}
	40%{top:0;}
	50%{top:-10px;-o-transform:rotate(-45deg);}
	80%{-o-transform:rotate(15deg);}
	90%{left: 0;top: 0;}
	95%{top: -30px;}
}
@-ms-keyframes word2{
	0%{left:500px;}
	10%{top:-100px;}
	20%{top:0;}
	30%{top:-20px;}
	40%{top:0;}
	50%{top:-10px;-ms-transform:rotate(-45deg);}
	80%{-ms-transform:rotate(15deg);}
	90%{left: 0;top: 0;}
	95%{top: -30px;}
}
@keyframes word2{
	0%{left:500px;}
	10%{top:-100px;}
	20%{top:0;}
	30%{top:-20px;}
	40%{top:0;}
	50%{top:-10px;transform:rotate(-45deg);}
	80%{transform:rotate(15deg);}
	90%{left: 0;top: 0;}
	95%{top: -30px;}
}
@-webkit-keyframes wordE{
	0%{-webkit-transform:rotateY(-180deg);}
	90%{-webkit-transform:rotateY(-180deg);}
	95%{-webkit-transform:scale(1.5);}
}
@-moz-keyframes wordE{
	0%{-moz-transform:rotateY(-180deg);}
	90%{-moz-transform:rotateY(-180deg);}
	95%{-moz-transform:scale(1.5);}
}
@-o-keyframes wordE{
	0%{-o-transform:rotateY(-180deg);}
	90%{-o-transform:rotateY(-180deg);}
	95%{-o-transform:scale(1.5);}
}
@-ms-keyframes wordE{
	0%{-ms-transform:rotateY(-180deg);}
	90%{-ms-transform:rotateY(-180deg);}
	95%{-ms-transform:scale(1.5);}
}
@keyframes wordE{
	0%{transform:rotateY(-180deg);}
	90%{transform:rotateY(-180deg);}
	95%{transform:scale(1.5);}
}

/*nav*/
#contact{position: fixed;_position:absolute;z-index:50;left: 0;top:0;width: 100%;background-color:#fff;box-shadow: 0 1px 10px 0 #333;color: #555;}
#contact h2{font-size: 2em;margin:0 2em;}
#contact nav li{margin:0 .5em;}
#contact nav li.sina{padding-top: 3px;}

/*main*/
#main{position: relative;z-index:40;font-size: 1.5em;*zoom:1;overflow: hidden;display: none;opacity: 0;}
.imgBox{position:absolute;top:55px;left:900px;padding: 9px;border: 1px solid #d4b383;background: #fff;box-shadow: 1px 2px 10px 0 #333;-webkit-transform:rotate(20deg);}
.m{padding-left: 1em;padding-bottom:100px;margin-bottom: 100px;*zoom:1;border-bottom: 2px dashed #fff;}
.m h2{font-size: 1.5em;line-height: 2}
.who p.mine:first-letter{font-size: 8em;line-height: 1.5}


.workBox{margin-right: 1em;}
.work p{padding-left: 5em;}
.work img{vertical-align: middle;margin:0 1em;}
.workList {padding-left: 5em;}

.ps{padding-bottom: 100px;padding-left: 1em;}
.ps p{padding-left: 2em;}

/*responsive*/
@media screen and (max-width: 1200px){
	body{font-size: 14px;}
	.imgBox{left: auto;right:0;}
}
@media screen and (max-width: 860px){
	body{font-size: 13px;}
	.imgBox img{width: 150px;}
}
@media screen and (max-width: 700px){
	body{font-size: 12px;}
	.imgBox img{width: 120px;}
}
@media screen and (max-width: 640px){
	.imgBox{display: none;}
}
