<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <meta charset="utf-8" />
    <meta name="description" content="{{site.description}}" />
    <meta name="keywords" content="{{site.keywords}}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="viewport" content="width=device-width,minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{site.name}}</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link rel=stylesheet href="{{site.assets}}/css/common.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.1/styles/default.min.css">
<script src="http://yandex.st/highlightjs/7.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    {{content}}
</body>
</html>